<form [formGroup]="appointmentForm" (ngSubmit)="onSave()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="appointmentForm.get('title').hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="appointmentForm.get('date').hasError('required')">
      Date is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Time</mat-label>
    <input matInput formControlName="time" type="time">
    <mat-error *ngIf="appointmentForm.get('time').hasError('required')">
      Time is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add Appointment</button>
</form>
