<div class="calendar-container">
  <button mat-raised-button color="primary" (click)="openAppointmentForm()">Add Appointment</button>

  <div class="appointment-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="appointment-item" *ngFor="let appointment of appointments$ | async" cdkDrag>
      <div class="appointment-content">
        <h3>{{ appointment.title }}</h3>
        <p>{{ appointment.date | date }}</p>
      </div>
      <button mat-icon-button (click)="deleteAppointment(appointment.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>